html {
	background-color: #F7F1E0;
}

.fig {
   max-width: 70%;
   height: auto;
}

ul.tags li {
    display: inline;
    color: #9DA5B3;
    padding:5px 5px;
    margin: 50px 10px;
    font-weight: bold;
    border: solid 3px #9DA5B3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
